@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 150ms;
  outline-width: 0.5px;
  outline-color: rgba(105, 145, 214, 0);
  outline-style: solid;
}

*:focus {
  outline-width: 1.5px;
  outline-color: rgba(105,145,214,.7);
}

#rootNav *:focus {
  outline: none;
}

@media (min-width: 1024px) {
  #rootNav *:focus .iconArea {
    background-color: #95cfd5;
  }
}

body {
  display: flex;
  /* background: url(./../../public/app-image/bg1.png) no-repeat center; */
  background-size: cover;
}
