@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 150ms;
}

*:focus {
  outline-width: 1.5px;
  outline-color: rgba(105,145,214,.2);
  outline-style: solid;
}

#rootNav *:focus {
  outline: none;
}

@media (min-width: 1024px) {
  #rootNav *:focus .iconArea {
    background-color: #95cfd5;
  }
}

body {
  display: flex;
}
