@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 颜色署名 */
  :root {
    --white: 255 255 255;
    --grey: 55 55 55;
    --black: 0 0 0;
    --brown: 47 26 73;
    --navyBlue: 105 145 214;
    --greenBlue: 149 207 213;
    --yellow: 255 166 60;
    --orange: 253 126 80;
  }

  .light {
    --accent: var(--brown);
    --primary: var(--white);
    --transition: var(--navyBlue);
    --brand-1st: var(--greenBlue);
    --brand-2nd: var(--orange);
    --brand-3rd: var(--yellow);
  }

  .dark {
    --accent: var(--white);
    --primary: var(--grey);
    --transition: var(--white);
    --brand-1st: var(--greenBlue);
    --brand-2nd: var(--orange);
    --brand-3rd: var(--yellow);
  }
}

:root {
  color: rgb(var(--accent));
  background-color: rgb(var(--primary));
}

* {
  transition: all 150ms;
  outline-width: 0.5px;
  outline-color: rgba(105, 145, 214, 0);
  outline-style: solid;
}

*:focus {
  outline-width: 1.5px;
  outline-color: rgba(105, 145, 214, 0.7);
}

.Nav * {
  outline: none;
}

.ModuleContent::-webkit-scrollbar {
  display: none;
}

/* babylonjs  */
#embed-host,
#scene-explorer-host,
#strokeMiterlimit-host,
#inspector-host  {
  position: absolute !important;
  z-index: 100;
}

@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

/* Loading组件的动画参数 */
.Loading .dot1 {
  animation: loading 4s infinite;
}
.Loading .dot2 {
  animation: loading 4s 1s infinite;
}
.Loading .dot3 {
  animation: loading 4s 2s infinite;
}

/* index的图片背景 */
.BG {
  opacity: 0;
}

.dark .BG {
  opacity: 1;
}

.BGMask {
  content: "";
  z-index: -9;
}

.light .BGMask {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: multiply;
}

.dark .BGMask {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

/* index的背景效果 */

@keyframes jumbo {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(
    100deg,
    #fff 0%,
    #fff 7%,
    transparent 10%,
    transparent 12%,
    #fff 16%
  );
  --stripesDark: repeating-linear-gradient(
    100deg,
    #000 0%,
    #000 7%,
    transparent 10%,
    transparent 12%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position:
    50% 50%,
    50% 50%;
  filter: blur(10px) invert(100%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .jumbo {
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
  background-image: var(--stripesDark), var(--rainbow);
}
